<div class="container-fluid" id="serviceFiveContainer">
  
  <div class="row">
    <h1  class="col-md-12">Logistics Optimization</h1>
    <!-- <a href="" class="col-md-1 offset-md-5" >
        <table>
          <tr>
            <td id="lefthalf">+</td>
            <td id="righthalf">ADD MODEL</td>
          </tr>
        </table>
      </a> -->
  </div>
  
  <div class="row">
    <h2>Description:</h2>
  </div>

  <div class="row">
  <span class="col-md-12">
    <p>
        Inefficient planning, volatile freight rate, and route congestion are key challenges to businesses. Pharus Protocol helps optimize transportation route and assets by considering alternate transportation modes, customer delivery windows, cost, and service levels.
    </p>
  </span>
  </div>

  <div class="row middle">
    <!-- Another router -->


    <a class="col col1" [routerLink]="[{ outlets: { popup5: ['compose9'] } }]" routerLinkActive="active">
      <mat-card id="cardOne" >
          <mat-card-header>
          <span mat-card-avatar class="example-header-image" ></span>
          </mat-card-header>
          <mat-card-title> Model 1</mat-card-title>
          <mat-card-subtitle>COST: 3.5 <span class="balanceUnit" > FRS</span></mat-card-subtitle>
          <mat-card-content></mat-card-content>
      </mat-card>
    </a>

    <a class="col col2" [routerLink]="[{ outlets: { popup5: ['compose10'] } }]" routerLinkActive="active">
      <mat-card >
          <mat-card-header>
          <span mat-card-avatar class="example-header-image" ></span>
          </mat-card-header>
          <mat-card-title> Model 2</mat-card-title>
          <mat-card-subtitle>COST: 8<span class="balanceUnit"> FRS</span></mat-card-subtitle>
          <mat-card-content></mat-card-content>
      </mat-card>
    </a>

  </div>

  <div class="row">
    <div class="col-md-12">
    <router-outlet name="popup5" id="serviceFiveRightPart"></router-outlet>
  </div>
  </div>
<!-- 
  <div class="row">

      <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Account</th>
              <th scope="col">Transaction Address</th>
              <th scope="col">Amount</th>
              <th scope="col">Current Balance</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
              <td>@mdo</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Jacob</td>
              <td>Thornton</td>
              <td>@fat</td>
              <td>@mdo</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td colspan="2">Larry the Bird</td>
              <td>@twitter</td>
              <td>@mdo</td>
              
            </tr>
          </tbody>
        </table>

  </div> -->

</div>

