  <form id="purchase" action="http://18.236.104.52:8080/api/sendCoin" method="GET">
      <div class="form-group">
    <select class="custom-select" id="accountSelect" name="address_a">
    <option selected value=''>Your available accounts for MODEL 1</option>
    </select>
    <small class="form-text text-muted">Choose an account from the dropdown list above and submit to proceed.</small>
      </div>
    <button type="submit" class="btn btn-primary"><i class="material-icons md-36">attach_money</i>Purchase Model 2 at {{modelTwoPrice}}<span class="balanceUnit"> FRS</span></button>
    </form>
  
    <!-- <div class="jumbotron">
      <div>
      <h2>History:</h2>
      <ol reversed class="list-group">
      </ol>
      <button type="button" id="cleanHistory" class="btn btn-warning">Clean History</button>
    </div>
    </div> -->