
span
{
    font-size:150%;
    margin-bottom:5%;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
  }
  .wrapper {
    min-height: 100%;  
    margin-bottom: -150px; /* 等于footer的高度 */
  }
  .footer, .push {
    text-align:center;
    height: 150px;
  }


div.col-md-5.text-center p
{
    font-size: x-small
}

span p
{
    font-size: 16px;
}
mat-toolbar-row>img
{
    width: 60px;
    height: 60px;

}

mat-toolbar-row.mat-toolbar-row button
{
    width:20%;
    height: 95%;
    color:white;
    font-weight: bold;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

a.mat-menu-item
{
    font-weight:bold;
    font-size:110%;
}

div.mat-menu-panel>div.mat-menu-content
{
    min-width:280px;
    overflow:hidden;
}
