<div class="container-fluid">
  
    <div class="row">
      <h1 class="col-md-12" >EDI Data Conversion</h1>
    </div>
    
    <div class="row">
      <h2 class="col-md-12">Description:</h2>
    </div>

    <div class="row">
    <span class="col-md-12">
        <p>
        Electronic Data Interchange (EDI) is the predominant data standard used by business world for transaction information exchange. Businesses leverage EDI conversion service within Pharus Protocol to conveniently make trades with others for almost free.
        </p>
    </span>
    </div>
    <div class="row middle">
        <a class="col col1" [routerLink]="[{ outlets: { edi:['edi-form'] } }]" routerLinkActive="active">
        <mat-card >
            <mat-card-header>
            <img mat-card-avatar src="https://www.materialui.co/materialIcons/hardware/phonelink_black_192x192.png" alt="">
            </mat-card-header>
            <mat-card-title>EDI 810</mat-card-title>
            <mat-card-subtitle></mat-card-subtitle>
            <mat-card-content>EDI 810 is the electronic version of a paper invoice.</mat-card-content>
        </mat-card>
        </a>
  
        <a class="col col2" [routerLink]="[{ outlets: { edi:['edi-form2'] } }]" routerLinkActive="active">
        <mat-card >
            <mat-card-header>
            <img mat-card-avatar src="https://www.materialui.co/materialIcons/hardware/phonelink_black_192x192.png" alt="">
            </mat-card-header>
            <mat-card-title>EDI 110</mat-card-title>
            <mat-card-subtitle></mat-card-subtitle>
            <mat-card-content>EDI 110 is used for air freight details and invoice.</mat-card-content>
        </mat-card>
      </a>
      
      
       
    </div>
  
    <div class="row">
        <div class="col-md-12">
        <router-outlet name="edi"></router-outlet>
        </div>
    </div>
  </div>
  
  