
#lefthalf
{
    font-size:250%;
    background:#2E9DEE;
    color:white;
}

#righthalf
{
    font-size:150%;
    color:#2E9DEE;
}
a
{
    text-decoration: none;
}

table {
    height:80px;
    width:250px;
    margin-top:2%;
    margin-bottom:5%;
    background:white;
    color:black;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    border-radius:3px;
    // overflow: auto;
  }

table:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
 }

 td
 {
     padding: 1%;
     text-align:center;
     height: 5%;
     font-weight: bold;
 }

//  .example-header-image {
//     background-image: url('https://github.com/download13/blockies/raw/master/sample.png');
//     background-size: cover;
//   }
  
  mat-card-header
  {
    float:left;
  }
  
//   .mat-card-avatar img
//   {
//     height: 120px;
//     width: 120px;
//   }

  mat-card.mat-card {
    height: auto !important;
    margin:5% 0 auto 0;
    background: #fff;
    border-radius: 2px;
    // display: inline-block;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    
  }
  
  mat-card:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
  mat-card-title
  {
      color:black;
      font-weight: bold;
  }
  mat-card-subtitle
  {
      font-size:150%;
      color:black;
  }
  mat-card-content
  {
      color:gray;
  }

  .middle
  {
      margin-top:3%;
  }

  mat-card-footer
  {
      overflow:hidden;
      background:gray;
      font-size:60%;
      color:white;
      box-shadow: 0 -2px 8px gray;
  }

// #firstRow
// {
//     margin-top:8%;
//     margin-bottom:5%;
//     justify-content: center;  
// }

#secondRow
{
    margin-bottom:5%;
}

#addAccountButton
{
    padding-left:1%;
}
a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

// .container-fluid {
//     margin-left: 1%;
//     margin-right: 0;
//     padding: auto;
//     width: 1900px;
// }
// .col
// {
//     width:20%;
// }

div.mat-tab-label
{
    width:40%;
}

@font-face
{
    font-family: bender;
    src:url(/src/assets/fonts/bender.otf)format("opentype");
}

span p
{
    width:100%;
}