<div class="container-fluid" id="serviceFourContainer">
  
  <div class="row">
    <h1 class="col-md-12">Demand Forecasting</h1>
    <!-- <a href="" class="col-md-1 offset-md-5"  >
        <table>
          <tr>
            <td id="lefthalf">+</td>
            <td id="righthalf">ADD MODEL</td>
          </tr>
        </table>
      </a> -->
  </div>
  
  <div class="row">
    <h2>Description:</h2>
  </div>

  <div class="row">
  <span class="col-md-12">
    <p>
      Product demand could be dynamically forecasted as competition, market, and social sentiment evolve. By providing model input information, businesses obtain accurate model result and also get rewards since information is an asset on the network.
    </p>
  </span>
  </div>

  <div class="row middle">
    <!-- Another router -->


    <a class="col col1" [routerLink]="[{ outlets: { popup4: ['compose7'] } }]" routerLinkActive="active">
      <mat-card id="cardOne" >
          <mat-card-header>
          <span mat-card-avatar class="example-header-image" ></span>
          </mat-card-header>
          <mat-card-title> Model 1</mat-card-title>
          <mat-card-subtitle>COST: 7 <span class="balanceUnit" > FRS</span></mat-card-subtitle>
          <mat-card-content></mat-card-content>
      </mat-card>
    </a>

    <a class="col col2" [routerLink]="[{ outlets: { popup4: ['compose8'] } }]" routerLinkActive="active">
      <mat-card >
          <mat-card-header>
          <span mat-card-avatar class="example-header-image" ></span>
          </mat-card-header>
          <mat-card-title> Model 2</mat-card-title>
          <mat-card-subtitle>COST: 3<span class="balanceUnit"> FRS</span></mat-card-subtitle>
          <mat-card-content></mat-card-content>
      </mat-card>
    </a>

  </div>


  <div class="row">
    <div class="col-md-12" >
    <router-outlet name="popup4" id="serviceFourRightPart"></router-outlet>
    <!-- <app-service1-model1-form class="col-lg-6 col-md-6 col-xs-6"></app-service1-model1-form> -->
  </div>
  </div>
<!-- 
  <div class="row">

      <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Account</th>
              <th scope="col">Transaction Address</th>
              <th scope="col">Amount</th>
              <th scope="col">Current Balance</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
              <td>@mdo</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Jacob</td>
              <td>Thornton</td>
              <td>@fat</td>
              <td>@mdo</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td colspan="2">Larry the Bird</td>
              <td>@twitter</td>
              <td>@mdo</td>
              
            </tr>
          </tbody>
        </table>

  </div> -->

</div>

