<div class="container-fluid" id="serviceTwoContainer">
  
  <div class="row">
    <h1 class="col-md-12">Inventory Planning</h1>

  </div>
  
  <div class="row">
    <h2 class="col-md-12">Description:</h2>
  </div>

  <div class="row">
  <span class="col-md-12">
    <p>
      Pharus Protocol gathers internal and external data to help business enhance inventory control and optimize inventory planning. The service will minimize incidents of wasting resource from overstock or missing sale opportunity from insufficient stock. The service can also provide real-time tracking of product popularity on the market. 
    </p>
  </span>
  </div>

  <div class="row middle justify-content-start">
    <!-- Another router -->


    <a class="col" [routerLink]="[{ outlets: { popup2: ['compose3'] } }]" routerLinkActive="active">
      <mat-card id="cardOne" >
          <mat-card-header>
          <span mat-card-avatar class="example-header-image" ></span>
          </mat-card-header>
          <mat-card-title> Model 1</mat-card-title>
          <mat-card-subtitle>COST: 6.4 <span class="balanceUnit" > FRS</span></mat-card-subtitle>
          <mat-card-content></mat-card-content>
      </mat-card>
    </a>

    <a class="col" [routerLink]="[{ outlets: { popup2: ['compose4'] } }]" routerLinkActive="active">
      <mat-card >
          <mat-card-header>
          <span mat-card-avatar class="example-header-image" ></span>
          </mat-card-header>
          <mat-card-title> Model 2</mat-card-title>
          <mat-card-subtitle>COST: 3<span class="balanceUnit"> FRS</span></mat-card-subtitle>
          <mat-card-content></mat-card-content>
      </mat-card>
    </a>

  </div>

  <div class="row">
    <div class="col-md-8" >
    <router-outlet name="popup2" id="serviceOneRightPart"></router-outlet>
   
  </div>
  </div>

</div>

