@import '~@angular/material/_theming.scss';

@include mat-core();
$app-primary: mat-palette($mat-blue,400,200,100);
$app-accent:  mat-palette($mat-indigo);
$app-warn:    mat-palette($mat-red);

$theme: mat-light-theme($app-primary,$app-primary, $app-warn);



@include angular-material-theme($theme);

$primary: mat-palette($mat-blue,100);
$accent:  mat-palette($mat-blue);
$warn:    mat-palette($mat-red);
$themeformenu:mat-dark-theme($primary,$accent, $warn);

@include mat-menu-theme($themeformenu);


// .middle
// {
//     margin-bottom: 1% !important;
// }

mat-toolbar
{
    position: sticky !important;
    position: -webkit-sticky !important; /* For macOS/iOS Safari */
    top: 0 !important; /* Sets the sticky toolbar to be on top */
    z-index: 1000 !important; /* Ensure that your app's content doesn't overlap the toolbar */
}

// h2
// {
    
//     padding-left:1%;
// }
// h1 {
//     padding-top:2%;
//     font-weight:bold;
    
// }
span
{
    padding-left:1%;
}

// .container {
//     margin-left:1%;
//     margin-right:1%;
//     padding:auto;
//     width:auto;
// }
// .container-fluid {
//     margin-left:0.5%;
//     margin-right:0.5%;
//     padding:auto;
//     width:auto;
// }
label {
    display:block;
    margin-bottom:10px;
}

.mat-tab-label-content 
{
    font-weight:bold;
    color:white;
}

mat-card {
    height: 150px !important;
    width: 300px !important;
    margin:5% 2% auto 2% !important;
    background: #fff !important;
    border-radius: 2px !important;
    // display: inline-block;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24) !important;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1) !important;
    
  }
  
  mat-card:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22) !important;
  }

  #accountSelect
  {
      width:auto;
  }

  .balanceUnit
  {
    font-size: 50%;
    color:gray;
  }

  .noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
  }

  span canvas {
    // margin: 10px;
    // margin: 10px;
    overflow: hidden;
    border-radius: 50%;
    // box-shadow: inset rgba(255, 255, 255, 0.2) 0 2px 2px, inset rgba(0, 0, 0, 0.3) 0 -1px 8px;
     /* ext needed for Safari5 */
     -webkit-box-shadow: inset -1px -1px 8px #000, inset 2px 3px 1px #fff; 
     /* for recent Webkit, Chrome, FF and Opera */
     box-shadow: inset -1px -1px 8px #000, inset 2px 3px 1px #fff;
}

.mat-tab-label.mat-ripple.ng-star-inserted
{
    height:70px;
    // width:40%;
}

span.ng-star-inserted
{
    word-wrap: break-word;
}


option
{
    font-weight: bold;
    font-size:130%;
}

select,select.custom-select
{
    font-weight: bold;
    font-size:130%;
}

a.mat-menu-item:link {
    text-decoration: none;
}

a.mat-menu-item:visited {
    text-decoration: none;
}

div.mat-menu-content
{
    background-color: #001433;
    font-weight: bold;
    font-size:100%;
}

// @font-face
// {
//     font-family: bender !important;
//     src:url(/src/assets/fonts/bender.otf) format("opentype") !important;
// }


body * 
{
    font-family: "Bender-Light" !important;
}




@font-face {
	font-family:"Bender-Light";
	src:url("Bender_Light.eot?") format("eot"),
		url("Bender_Light.woff") format("woff"),
		url("Bender_Light.ttf") format("truetype"),
		url("Bender_Light.svg#Bender-Light") format("svg");
		font-weight:normal;
		font-style:normal;
}
h1
{
    padding-left: 15px !important;
    margin:80px auto 0 0!important;
    font-size: 52px !important;
    font-weight: bold !important;
}
h2
{
    padding-left: 15px !important;
    margin:80px auto 0 0 !important;
    font-size: 32px !important;
    font-weight: bold !important;
}

span p
{
    padding-left: 15px !important;
    margin:30px auto 0 0 !important;
    font-weight: bold !important;
    font-weight: 16px;
}
button.btn.btn-primary.btn-raised
{
    height: 50px !important;
    margin-top:30px !important;
}
mat-icon
{
    font-family: 'Material Icons' !important;
}

select.custom-select,select.custom-select option
{
    font-size: 16px !important;
    font-weight: bold !important;
}
.container-fluid iframe
{
    width: 100% !important;
    height: 800px !important;
    
}

small.form-text.text-muted
{
    font-size:14px !important;
    font-weight: bolder !important;
}

mat-card-content
{
    font-weight: bolder;
}