<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.light_green-light_blue.min.css" /> 
<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>

  <div class="container-fluid">
  <div class="row" [hidden]="isFormHidden">
    <form id="purchase" action="http://18.236.104.52:8080/api/sendCoin" method="GET"  >
      <div class="form-group">
    <select class="custom-select" id="accountSelect" name="address_a">
    <option selected value=''>Your available accounts for MODEL 1</option>
    </select>
    <small class="form-text text-muted">Choose an account from the dropdown list above and submit to proceed.</small>
      </div>
      <div id="serviceOneSubmit">
    <button  type="submit" class="btn btn-primary btn-raised" (click)="enterAiOne()" ><mat-icon>attach_money</mat-icon>Purchase Model 1 at {{modelOnePrice}}<span class="balanceUnit"> FRS</span></button>
    <button  type="submit" class="btn btn-primary btn-raised" [hidden]="isBacktoModelHidden" (click)="backToModel()" ><mat-icon>home</mat-icon>Back to Models</button>
      </div>
    </form>
  </div>

  <div [hidden]="isaiOneHidden">
   
      <div class="row ">
          <table id="sOneMOneFormTable" class="col-md-12 mdl-data-table mdl-js-data-table mdl-data-table__header--sorted-ascending mdl-shadow--2dp">
              <thead>
                <tr>
                  <th class="mdl-data-table__cell--non-numeric">Transaction Hash</th>
                  <th class="mdl-data-table__cell--non-numeric">From</th>
                  <th class="mdl-data-table__cell--non-numeric">Cost</th>
                  <th>Current Balance</th>
                  <th>BlockNumber</th>
                  <th>Gas Used</th>
                  <th>Cum. Gas Used</th>
                </tr>
              </thead>
              <tbody id="transactionHistoryOne">
              </tbody>
            </table>
      </div>

      <div class="row">
        <button  type="submit" class="col btn btn-primary btn-raised" [hidden]="isBacktoModelHidden" (click)="backToModel()" ><mat-icon>home</mat-icon>Back to Models</button>
        <button class="col btn btn-primary btn-raised" (click)="loadAi()" >Continue</button>
      </div>
      
  </div>

  <div class="row" id="aiContent" [hidden]="isaiContentHidden" >
      <iframe class="col-md-12" src="http://ai2tpd.s3-website-us-east-1.amazonaws.com/#!/consumer"></iframe>
  </div>

  <div class="row justify-content-center">
      <button  type="submit" class="col-md-3 btn btn-primary btn-raised" [hidden]="isBacktoModelHidden2" (click)="backToModel()" ><mat-icon>home</mat-icon>Back to Models</button>
  </div>

</div>  
